<div class="heading">
  <h2>My Recipes</h2><div class="line"></div>
</div>
<ul class="block-list">
  <li class="add-new"><i class="fa fa-plus"></i>Add Recipe</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
