<div class="heading">
  <h2>Public Recipes</h2><div class="line"></div>
</div>
<ul class="block-list">
  {{#each recipes}}
    {{#link-to "recipes.recipe" id}}
      <li>
        <img {{bind-attr src=imgURL}}>
        <h4>{{name}}</h4>
      </li>
    {{/link-to}}
  {{/each}}
</ul>
