<main class="index">

  <div class="heading">
    <h2>My Recipes</h2><div class="line"></div>
    {{#link-to "recipes" class="view-all"}}
      view all<i class="fa fa-angle-right"></i>
    {{/link-to}}
  </div>
  <ul class="block-list">
    {{#link-to "recipes.new"}}
      <li class="add-new">
        <i class="fa fa-plus"></i>Add Recipe
      </li>
    {{/link-to}}
    {{#each myRecipes}}
      {{#link-to "recipes.recipe" id}}
        <li>
          <img {{bind-attr src=imgURL}}>
          <h4>{{name}}</h4>
        </li>
      {{/link-to}}
    {{/each}}
  </ul>

  <div class="heading">
    <h2>Public Recipes</h2><div class="line"></div>
    {{#link-to "recipes.public" class="view-all"}}
      view all<i class="fa fa-angle-right"></i>
    {{/link-to}}
  </div>
  <ul class="block-list">
    {{#each publicRecipes}}
      {{#link-to "recipes.recipe" id}}
        <li>
          <img {{bind-attr src=imgURL}}>
          <h4>{{name}}</h4>
        </li>
      {{/link-to}}
    {{/each}}
  </ul>

  <div class="heading">
    <h2>Popular Recipes</h2><div class="line"></div>
    {{#link-to "recipes.popular" class="view-all"}}
      view all<i class="fa fa-angle-right"></i>
    {{/link-to}}
  </div>
  <ul class="block-list">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="heading">
    <h2>My Favorite Recipes</h2><div class="line"></div>
    {{#link-to "recipes.favorite" class="view-all"}}
      view all<i class="fa fa-angle-right"></i>
    {{/link-to}}
  </div>
  <ul class="block-list">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="heading">
    <h2>My Pantry</h2><div class="line"></div>
    {{#link-to "pantry" class="view-all"}}
      view all<i class="fa fa-angle-right"></i>
    {{/link-to}}
  </div>
  <ul class="block-list">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</main>
